<div class="iiif-viewer" :class="{'is-full':full}">
  <div class="iiif-viewer-group">
    <div v-if="leftOpen">
      <button class="button is-small iiif-next leftbutton" @click="previous()" v-shortkey="['arrowleft']" @shortkey="previous()">
        <b-icon icon="chevron-left" size="is-large"></b-icon>
        <b-icon icon="chevron-left" size="is-large"></b-icon>
      </button>
      <div class="viewer-contrast" :class="{'blackwhite':bwflag}">
        <div class="viewer" ref="leaflet"></div>
      </div>
      <button class="button is-small iiif-next rightbutton" @click="next()"  v-shortkey="['arrowright']" @shortkey="next()">
        <b-icon icon="chevron-right" size="is-large"></b-icon>
        <b-icon icon="chevron-right" size="is-large"></b-icon>
      </button>
    </div>
    <div v-else>
        <button class="button is-small iiif-next leftbutton" @click="next()" v-shortkey="['arrowleft']" @shortkey="next()">
          <b-icon icon="chevron-left" size="is-large"></b-icon>
          <b-icon icon="chevron-left" size="is-large"></b-icon>
        </button>
      <div class="viewer-contrast" :class="{'blackwhite':bwflag}">
        <div class="viewer" ref="leaflet"></div>
      </div>
        <button class="button is-small iiif-next rightbutton" @click="previous()" v-shortkey="['arrowright']" @shortkey="previous()">
          <b-icon icon="chevron-right" size="is-large"></b-icon>
          <b-icon icon="chevron-right" size="is-large"></b-icon>
        </button>
    </div>
    <div class="iiif-control-zoom buttons has-addons"> 
        <!--div v-show="modelLoadingFlag&!modelLoadedFlag">
          <b-button class="button is-large iiif-autocrop" loading>
          </b-button>
        </div>
        <div v-show="!modelLoadingFlag&modelLoadedFlag">
          <b-button class="button is-large iiif-autocrop" type="is-success" @click="detachModel()">
            <span>AI</span><b-icon icon="crop"></b-icon>
          </b-button>
        </div>
        <div v-show="!modelLoadingFlag&!modelLoadedFlag">
          <button class="button is-large iiif-autocrop" @click="loadModel()" >
            <span>AI</span><b-icon icon="crop"></b-icon>
          </button>
        </div-->
      <b-tooltip label="タグ" position="is-left">
        <button v-show="!div" class="button is-large iiif-clip" @click="tagButtonHandler">
          <b-icon icon="tag"></b-icon>
        </button>
      </b-tooltip>
      <b-tooltip label="矩形ごとにテキスト表示（クリックでコピー）" position="is-left">
        <button v-show="!div" class="button is-large iiif-clip" @click="changeTextDisplayMode()">
          <b-icon icon="format-text" :type="{ 'is-danger': textDisplay }" ></b-icon>
        </button>
      </b-tooltip>
      <b-tooltip label="縮小" position="is-left">
        <button class="button is-large iiif-remove" @click="map.zoomOut()">
          <b-icon icon="magnify-minus"></b-icon>
        </button>
      </b-tooltip>
      <b-tooltip label="初期位置に戻す" position="is-left">
        <button class="button is-large iiif-fit" @click="fitBounds()">
          <b-icon icon="arrow-collapse-all"></b-icon>
        </button>
      </b-tooltip>
      <b-tooltip label="拡大" position="is-left">
        <button class="button is-large iiif-zoom" @click="map.zoomIn()">
          <b-icon icon="magnify-plus"></b-icon>
        </button>
      </b-tooltip>
      <b-tooltip :label="full?'全画面表示終了':'全画面表示'" position="is-left">
        <button class="button is-large iiif-full" @click="changeFull()">
          <b-icon :icon="full?'fullscreen-exit':'fullscreen'"></b-icon>
        </button>
      </b-tooltip>
      <b-tooltip label="テキスト表示" position="is-left">
        <button v-show="!div" class="button is-large iiif-clip" @click="changeCopyMode()">
          <b-icon icon="clipboard-text" :type="{ 'is-danger': copy }" ></b-icon>
        </button>
      </b-tooltip>
    </div>
    <div class="iiif-control-right-bottom">
      <b-field v-show="shouldIgnoreRuby && copy" label="ルビのサイズ">
        <b-slider type="is-primary" v-model="rubySize" :step="10" :max="1000"></b-slider>
      </b-field>
    </div>
  </div>
  <div class="iiif-control-group">
    <div class="iiif-control-page" v-if="totalPage">
      <div v-if="leftOpen">
        <div class="field has-addons has-addons-centered">
          <p class="control">
            <button class="button is-small iiif-next" @click="previous()">
              <b-icon icon="chevron-left"></b-icon>
              <span class="is-hidden-mobile">{{ $l("l-prev") }}</span>
            </button>
          </p>
          <p class="control">
          <input
              class="input is-small iiif-inputpage"
              @input="inputPage"
              v-model="inputPageModel"
            />
          </p>
          <p class="control">
            <a class="iiif-total button is-small is-static">{{
              "/" + totalPage
            }}</a>
          </p>
          <p class="control">
            <button class="button is-small iiif-prev" @click="next()">
              <span class="is-hidden-mobile">{{ $l("l-next") }}</span>
              <b-icon icon="chevron-right"></b-icon>
            </button>
          </p>
        </div>
      </div>
      <div v-else>
        <div class="field has-addons has-addons-centered">
          <p class="control">
            <button class="button is-small iiif-prev" @click="next()">
              <b-icon icon="chevron-left"></b-icon>
              <span class="is-hidden-mobile">{{ $l("l-next") }}</span>
            </button>
          </p>
          <p class="control">
          <input
              class="input is-small iiif-inputpage"
              @input="inputPage"
              v-model="inputPageModel"
            />
          </p>
          <p class="control">
            <a class="iiif-total button is-small is-static">{{
              "/" + totalPage
            }}</a>
          </p>
          <p class="control">
            <button class="button is-small iiif-next" @click="previous()">
              <span class="is-hidden-mobile">{{ $l("l-prev") }}</span>
              <b-icon icon="chevron-right"></b-icon>
            </button>
          </p>
        </div>        
      </div>
    </div>
    <div class="has-addons">
        <div v-if="isestDirection==null">
          <span>{{ $l2("進行方向(情報なし)", "Page direction(no info)") }}</span>
        </div>
        <div v-else-if="isestDirection">
          <span>{{ $l2("進行方向(自動推定)", "Page direction(auto estimated)") }}</span>
        </div>
        <div v-else>
          <span>{{ $l2("進行方向", "Page direction") }}</span>
        </div>
        <div v-if="leftOpen">
          <span>→→</span>
        </div>
        <div v-else>
          <span>←←</span>
        </div>
        <button @click="changeLR()" class="button is-small">
              {{ $l2("入れ替える", "Change LR") }}
        </button>
    </div>
    
    
    <div class="iiif-control-divide buttons has-addons">
      <button class="button is-small iiif-full" @click="changeDiv()">
        <b-icon :icon="div?'locker':'locker-multiple'"></b-icon>
        <span class="is-hidden-mobile">{{ $l("l-divide") }}</span>
      </button>
    </div>
    <div class="iiif-control-download buttons has-addons">
      <button class="button is-small" @click="isModalActive=true">
        <b-icon icon="download"></b-icon>
        <span class="is-hidden-mobile">{{ $l("l-whiten") }}</span>
      </button>
    </div>
    
    <nav class="panel">
      <div class="panel-block">
        <p class="control">
          <label class="checkbox" @click="changethparam()">
            <input type="checkbox" v-model="bwflag" />
            {{ $l2("読みやすくする", "Improve Readability") }}
          </label>
          <button @click="showTh()" class="button is-small">
            {{ $l2("調整する", "Adjust") }}
          </button>
        </p>
      </div>
      <div class="panel-block" v-show="showThParam">
        <p class="control">
          <vue-slider
            v-model="th"
            v-bind.optin="thSliderOption"
            ref="slider"
          ></vue-slider>
        </p>
      </div>
      <div style="display: none">
        <input v-model="table" />
        <textarea rows="4" v-model="colors"></textarea>
      </div>
      <svg
        style="position: absolute; top: -99999px"
        xmlns="http://www.w3.org/2000/svg"
      >
        <filter id="svgBlur">
          <feComponentTransfer>
            <feFuncR type="table" v-bind:tableValues="filterParams" />
            <feFuncG type="table" v-bind:tableValues="filterParams" />
            <feFuncB type="table" v-bind:tableValues="filterParams" />
          </feComponentTransfer>
          <feColorMatrix type="matrix" v-bind:values="colors" />
        </filter>
      </svg>
    </nav>
      <div style="display:block;">
        <a class="button is-small" :href="fulltextLink">
          <b-icon icon="download"></b-icon>
          <span class="is-hidden-mobile">{{ $l("l-fulltextdownload") }}</span>
        </a>
        <div>
          <b-dropdown aria-role="list">
              <template #trigger="{ active }">
                  <b-button
                      type="is-small"
                  :icon-right="active ? 'menu-up' : 'menu-down'" >
                  <b-icon icon="download"></b-icon>
                    <span class="is-hidden-mobile">{{ $l("l-imagedownload") }}</span>
                  </b-button>
              </template>
              <b-dropdown-item v-for="item of koma10array" aria-role="listitem">
                <a :href="item.url" target="_blank">{{item.page+1}} page-</a>
              </b-dropdown-item>
          </b-dropdown>
        </div>
      </div>
  </div>

  <b-modal :active.sync="isModalActive">
    <article class="message" v-if="book">
      <div class="message-header">
        <p>{{ $l2("画像のダウンロード", "Download Image") }}</p>
      </div>
      <div class="message-body">
        {{
          $l2(
            "このページの画像を白色化してダウンロードします。",
            "Download whitened image of this page."
          )
        }}
        <div class="buttons">
          <a :href="downloadLink" class="button">
            {{ $l2("ダウンロード", "Start") }}
          </a>
        </div>
      </div>
    </article>
  </b-modal>
  <b-modal :active.sync="isCopyModalActive" @close="exitCopyMode">
    <div class="card">
      <div class="card-content">
        <p v-html="textInSelectedArea"></p>
        <div class="buttons">
          <b-button @click="copySelectedText(textInSelectedArea)">コピー</b-button>
          <b-button @click="initializeSelectMode">範囲選択</b-button>
          <b-button type="is-danger" @click="exitCopyMode">閉じる</b-butto>
        </div>
        <b-field>
          <b-switch v-model="shouldInsertSpace">矩形間に空白を挿入</b-swith>
          <b-switch v-model="shouldIgnoreRuby">ルビを消す</b-swith>
          <b-switch v-model="shouldDivideByCenter">見開きで区切る</b-swith>
        </b-field>
        <b-field>
          <b-field v-show="shouldIgnoreRuby && copy" label="ルビのサイズ">
            <b-slider type="is-primary" v-model="rubySize" :step="10" :max="1000"></b-slider>
          </b-field>
        </b-field>
      </div>
    </div>
  </b-modal>
  <b-modal :active.sync="isTaggingModalActive">
    <article class="message" v-if="book">
      <div class="message-header">
        <p>{{ $l2("タグ選択", "Tag") }}</p>
      </div>
      <div class="message-body">
        <section :style="{ marginBottom: '1rem' }">
          <p>{{
            $l2(
              `「${book.title}」にタグを追加します。`,
              `Attach tags to "${book.title}".`
              )
            }}
          </p>
        </section>
        <section :style="{ marginBottom: '2rem' }">
          <b-field>
            <b-autocomplete
              rounded
              v-model="tagAddInput"
              :data="filteredTagNameArray"
              clearable
              @select="option => selected = option"
            >
              <template #empty>No results found</template>
            </b-autocomplete>
            <b-button @click="tagAddHandler" type="is-primary">{{ $l2("追加", "Attach") }}</b-button>
          </b-field>
        </section>
        <section :style="{ marginBottom: '2rem' }">
          <b-field grouped group-multiline>
            <div
              v-for="tagName in attachedTagNames"
              :key="tagName"
              class="control"
              @click="tagClickedHandler(tagName)"
            >
              <b-tag type="is-success"
                size="is-medium"
                attached
                aria-close-label="Close tag"
                :style="{ cursor: 'pointer' }"
                :closable="attachedTagNames.includes(tagName)"
                >
                {{ tagName }}
              </b-tag>
            </div>
          </b-field>
        </section>
        <section>
          <b-field grouped group-multiline>
            <div
              v-for="tagName in unattacedTags"
              :key="tagName"
              class="control"
              @click="tagClickedHandler(tagName)"
            >
              <b-tag type="is-dark" 
                size="is-medium"
                attached
                aria-close-label="Close tag"
                :style="{ cursor: 'pointer' }"
                :closable="attachedTagNames.includes(tagName)"
                >
                {{ tagName }}
              </b-tag>
            </div>
          </b-field>
        </section>
      </div>
    </article>
  </b-modal>
</div>
