@import "_palette.scss";

.book-entry {
  .media-content {
    position: relative;
    overflow: hidden;
    .highlights {
      font-size: small;
      border: 1px solid $border-gray;
      padding: 0.5rem;
      em {
        background: $yellow;
      }
      // background: white;
    }
    .illusts {
      margin-top: 0.5rem;
      p {
        font-size: small;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
      }
    }
  }
}
