@import "_palette.scss";
.search {
  .image-search-query {
    cursor: pointer;
  }

  .masonry {
    .illust-image {
      border: 1px solid $border-gray;
      @include shadow();
      margin-bottom: 2rem;
      cursor: pointer;
    }
  }

  .search-nav {
    padding-left: 1rem;
    padding-right: 1rem;
    // border-bottom: 1px solid $blue;
    .search-paginaition {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .img-toggle {
      margin-left: 2rem;
    }
  }

  .item-search-result {
    padding-top: 1rem !important;
  }

  .search-result-body {
    background: white;
    padding: 2rem;
  }
}
