<div class="history-content">
  <div class="search-result-body" v-if="isLocalStorageAvailable === false">
    <p>
      {{ $l2(
      "このブラウザでは閲覧履歴機能が使用できません。localstorage機能を有効にしてください",
      "History is unavailable on this browser. Please make sure 'localstorage' is enabled" ) }}
    </p>
  </div>
  <div class="search-result-body" v-else-if="viewedBookHistoryIds.length === 0">
    <p v-if="$state.lang === 'ja'">
      <router-link to="/fulltext">こちらのページ</router-link>
      から資料を検索できます
    </p>
    <p v-else>
      search book from <router-link to="/fulltext">here</router-link>.
    </p>
  </div>
  <template v-else>
    <form class="text-search-form" @submit.prevent="searchBooksByKeyowrd()">
      <b-field :label="$l2('閲覧履歴の資料を全文検索する（スニペット表示には対応していません）', 'Search among recently viewed books (Snippet is not supported)')">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input
              v-model="keywordBuffer"
              class="input"
              type="text"
              placeholder="二文字以上で入力してください"
            />
          </div>
          <div class="control">
            <button class="button search-button is-primary" type="submit">
              <b-icon icon="magnify"></b-icon>
            </button>
          </div>
        </div>
      </b-field>
    </form>

  <div class="columns search-result-body">
    <div class="column is-12">
      <book-entry
        v-for="(b,index) in sortedBookList"
        :book="b"
        :key="b.id"
        :keywords="ss.keywords"
      ></book-entry>
    </div>
  </div>
  <b-pagination
    :total="ss.result?.hit || 0"
    :per-page="5"
    :current="current"
    @change="(v) => changePage(v)"
  ></b-pagination>
  </template>
</div>
