<div class="search-sort is-size-7">
  <!-- <label>{{$l("label-sort")}}</label> -->
  <div class="select">
    <select :value="ss.sort" v-on:input="changeSort">
      <option value="" selected>{{ $l("l-sort-default") }}</option>
      <option value="publishyear:asc">{{ $l("l-sort-publishyear-asc") }}</option>
      <option value="publishyear:desc">{{ $l("l-sort-publishyear-desc") }}</option>
    </select>
  </div>
  <button
    type="button"
    @click.stop.prevent="changeSortIE"
    class="sort-ie button is-small"
  >
    {{ $l("label-sort") }}
  </button>
</div>
