@import "_palette.scss";

.fulltext-search {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  .guide {
    text-align: center;
    font-size: smaller;
    margin-bottom: 1rem;
  }

  .reload-query {
    text-align: right;
    margin-top: 1rem;
  }

  .text-search-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    @include is-mobile() {
      width: 100%;
    }
    .search-button {
      width: 4rem;
    }
  }
  .filter-search {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    margin: 1rem auto;
    .filter-search-form {
      margin: 1rem auto;
    }
    .detail-search-button {
      padding: 6px 3px;
    }
    .detail-search-button-open {
      border-top: solid 1px gray;
    }
    .detail-search-button-close {
      border-bottom: solid 1px gray;
    }
    .detail-search-button-text {
      line-height: 1.2;
    }
    .filterform{
      text-align: left;
      width: 100%;
      max-width: 450px;
      margin: 1rem auto;
      .year-range {
        justify-content: space-between;
        display: flex;
        .year-range-tilde {
          margin: 0 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .filterbutton{
        text-align: right;
        margin-top: 1rem;
      }
    }
  }

  .ndc-filter {
    .ndc-header {
      align-items: center;
      .ndc-header-checkbox-wrapper {
        width: 100%;
        margin-left: 1rem;
      }
    }
    .semi-active {
      background-color: #dbdada24;
    }
  }
}
