@import "_palette.scss";
.fulltext-search {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  .guide {
    text-align: center;
    font-size: smaller;
    margin-bottom: 1rem;
  }

  .reload-query {
    text-align: right;
    margin-top: 1rem;
  }

  .text-search-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    @include is-mobile() {
      width: 100%;
    }
    .filterform{
      text-align: left;
      width: 50%;
      .filterbutton{
        text-align: right;
      }
    }
    .search-button {
      width: 4rem;
    }
  }
}
